# Python
__pycache__/
*.py[cod]

# Virtual env
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Outputs
outputs/

# Cache
.cache/

# Temporary
tmp/
temp/

# Visual
visualization/save_figures.py