# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Outputs & Reports
outputs/
reports/

# Cache & Temporary
.cache/
tmp/
temp/
uploads/

# Data
data/

# Visual (оставляем скрытие графиков, если нужно)
outputs/

# Archive
archive/
